<% if @comments %>
    <div class = "container">
        <h6><u><%= @task.count_of_comment %> comment(s)</u></h6>
        <% @comments.each do |comment| %>
                <p>
            		<% if admin_signed_in? %>
                    	<%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, task_comment_path(comment.task_id, comment.id),:method => :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-xs btn-danger" %>
                    <% end %>	
                    <strong><%= comment.created_at.strftime('%A %d %B %Y') %> at <%= comment.created_at.strftime('%H:%M %p') %></strong>: <%= comment.content %>
                </p>
        <% end %>
    </div>
           
    <!--Pagination-->
    <%= paginate @comments%>
        
<% end %>