<div class="page-wrapper">

  <!--<p>
    Download:
    <%= link_to "CSV", tasks_path(format: "csv") %> |
    <%= link_to "Excel", tasks_path(format: "xls") %>
  </p>-->
        
  <!-- Tasks List -->
    <div class="row">
          
      <div class="panel panel-default widget">
          
        <div class="panel-heading">
          <span class="glyphicon glyphicon-tasks"></span>
          <h3 class="panel-title">Tasks</h3>
          <span class="label label-info"><%= Task.count.to_s %></span>
        </div>
          
        <% if @tasks.count == 0 %>
            
          No Result
            
        <% else %>
            
          <div class="panel-body">
            <ul class="list-group">
                  
              <% @tasks.each do |task| %>
                  
                <li class="list-group-item">
                    
                  <div class="row">
                    <div class="col-xs-2 col-md-1 text-center">
                      <h1><%= task.id %></h1>
                    </div>
                      
                    <div class="col-xs-10 col-md-11">
                      <div>
                        <span class="panel-title-bold"><%= task.title %></span>
                        <div class="mic-info">
                          By: xxxxxxxxxx on <%= task.created_at.to_s(:custom_datetime) %>
                          <% if !task.date_of_last_comment.nil? %>
                            / Last comment on <%= task.date_of_last_comment %>
                          <% end %>
                          / <%= task.count_of_comment.to_s %> comment(s)
                        </div>
                      </div>
                      <div class="comment-text">
                        <%= task.body %>
                      </div>
                      <div class="action">
                        <%= link_to "<i class='glyphicon glyphicon-eye-open'></i>".html_safe,  task_path(task), :class => "btn btn-xs btn-info"  %>
                        <% if admin_signed_in? %>
                          <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe,  edit_task_path(task), :class => "btn btn-xs btn-primary"  %>
                          <%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe, task_path(task), :method => :delete,  data: {confirm: 'Are you sure?'}, :class => "btn btn-xs btn-danger"    %>
                        <% end %>
                      </div>
                    </div>
                    
                  </div>
                
                </li>
                            
              <% end %>
                  
            </ul>
          </div>  
              
        <% end %>
          
          </div>
          
        </div>  
        
        <!--Pagination-->
        <%= paginate @tasks %>
        
        
</div>