<div class="page-wrapper">


  <div class="container">

    <div class="panel panel-default widget">
      
      <div class="row">
        <div class="col-xs-2 col-md-1 text-center bck-grey">
          <h1><%= @task.id.to_s %></h1>
        </div>
                      
        <div class="col-xs-10 col-md-11">
          <div>
            <span class="panel-title-bold"><%= @task.title %></span>
            <div class="mic-info">
              By <%= @task.user_of_task %> on <%= @task.created_at.to_s(:custom_date) %>
              <% if !@task.date_of_last_comment.nil? %>
                / Last comment on <%= @task.date_of_last_comment %>
              <% end %>
            </div>
          </div>
          <div class="comment-text">
            <%= @task.body %>
          </div>
        </div>
      </div>
    </div>
                  
    <% if admin_signed_in? %>
      <hr />
      <%= render "comments/form" %>
    <% end %>

  </div>

 <div class="container">
    <hr />
    <div class="row">
      <%= render "comments/index" %>
    </div>
    
  </div>
  
</div>